@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.container * {
  font-weight: 700 !important;
}
.not-left-bar {
  margin: 0; padding: 0;
  overflow-y: auto;
}
.top-page {
  position: absolute;
  left: 250px;
  width: calc(100% - 250px);
  background: #226e93 url('img/banner.png');
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding: calc(32em / 3);
}
.left-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc(250px - 3em);
  background: #212121;
  padding: 4em 0.5em 3.5em 2.5em;
  overflow-y: auto;
  overflow-x: hidden;
}
.container {
  position: absolute;
  top: calc(34em / 3);
  left: calc(28em / 3);
  width: calc(100% - 2em);
  box-sizing: border-box;
  padding: calc(32em / 3);
}
.content {
  margin: 20px 0 0 20px;
  padding: 0;
}

/* NOW, normal tags */
ul {
  list-style-type: square;
}
.info {
  position: fixed;
  top: calc(100vh - 3em);
  left: calc(52em / 3);
  cursor: pointer;
  border-radius: 0.8em;
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
  margin: 0em;
  transition: 0.3s;
}
.info:hover {
  background: #00000018;
  transition: 0.3s;
}
.left-bar * {
  color: #fff;
}
.center {
  text-align: center;
}
a {
  text-decoration: none;
  color: #006580;
}
a:hover, .selected, summary:hover {
  color: #49aad4;
  text-decoration: none;
  cursor: pointer;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
summary::before {
  content: "▼ ";
  list-style-position: outside;
}
details[open] > summary::before {
  content: "▲ ";
}
br.big {
  margin: 0 0 1.5em 0;
}
.container summary {
  color: #226e93;
  font-size: 1.1em;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
  border-bottom: #bbb solid 1px;
}
.container summary::before, .container details[open] > summary::before {
  content: "";
}
.container summary::after {
  content: "▼";
  color: #888;
  float: right;
}
.container details[open] > summary::after {
  content: "▲";
}
details[open] {
  margin-bottom: 1em;
}
ol li::marker {
  list-style-position: outside;
}